{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/0.11.5/vue.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/sketch.js') }}"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    .btn {
        width: 82px
    }
    .result {
        height: 120px;
        line-height: 120px;
        text-align: center;
        float:left;
        margin: 5px;
        border-radius: 10px;
        border: 1px solid lightsteelblue;
    }
    .result .answer {
        font-size: 100px;
        width: 120px;
        height: 120px;
        text-align: center;
        float:left;
    }
</style>
{% end %}

{% block bottom %}

<script type="text/javascript">
    var Prediction = (function () {
        function Prediction(image, sample) {
            this.image = image;
            this.sampleImage = sample[0];
            this.sampleData = sample[1];
            this.result = -1;
        }

        Prediction.prototype.imageSrc = function () {
            return this.image.toDataURL();
        }

        Prediction.prototype.execute = function () {
            var self = this;
            var d = new $.Deferred;
            $.post("/predict", JSON.stringify({data: self.sampleData}), function(prediction){
                self.result = prediction["result"];
                d.resolve(self)
            })
            return d.promise();
        };

        Prediction.prototype.feedback = function (value) {
            var self = this;
            var d = new $.Deferred;
            var feedback = [parseInt(value)];
            feedback = feedback.concat(self.sampleData);
            $.post("/feedback", JSON.stringify({data: feedback}), function(feedbacked){
                if(feedbacked["result"] == ""){
                    self.result = feedback[0];
                    d.resolve();
                }else{
                    d.reject(feedbacked["result"]);
                }
            })
            return d.promise();
        };

        return Prediction;
    })();

    Vue.config.delimiters = ["[[", "]]"];
    Vue.config.prefix =  "data-v-";
    Vue.component("predict-item", {
        template: "#predict-item",
        methods: {
            beginEdit: function(){
                this.state.editing = true;
            },
            endEdit: function(){
                var state = this.state;
                if(state.value >= 0 && state.value < 10 && (state.value != this.result)){
                    var original = this.result;
                    this.$data.feedback(state.value).fail(function(msg){
                        state.value = original;
                    })
                }else{
                    state.value = this.result;
                }
                state.editing = false;
            }
        }
    });
    var app = new Vue({
        el: "#main",
        data: {
            canvas: null,
            SAMPLE_SIZE: 8,
            predicts: []
        },
        created: function(){
            this.canvas = new Canvas("canvas", {
                strokeStyle: "black"
            });
        },
        methods:{
            clear: function(){
                this.canvas.clear();
            },
            injectState: function(p){
                p.state =  {
                    editing: false,
                    value: p.result
                }
            },
            submit: function(){
                var self = this;
                var image = self.canvas.snapShot();
                var sample = self.canvas.toSample(self.SAMPLE_SIZE, self.SAMPLE_SIZE);
                var p = new Prediction(image, sample);
                p.execute().done(function(p){
                    self.injectState(p);
                    self.predicts.push(p);
                    self.clear();
                })
            }
        }
    });


</script>
<script id="predict-item" type="x-template">
    <div class="result">
        <div style="float:left">
            <img data-v-attr="src: $data.imageSrc()"/>
        </div>
        <div style="width:20px;float:left;font-size:20px">
            <i class="fa fa-arrow-right"></i>
        </div>
        <div data-v-text="$data.state.value" data-v-show="!$data.state.editing" data-v-on="click: beginEdit" class="answer">
        </div>
        <input data-v-model="$data.state.value" data-v-show="$data.state.editing" data-v-on="keyup:endEdit | key enter" type="number" name="result" class="answer">
        <br style="clear:both">
    </div>
</script>

{% end%}


{% block body %}
<div id="main" class="ink-grid">
    <div class="column-group horizontal-gutters">
        <div class="xlarge-20 large-20 medium-20 small-100 tiny-100">
            <div>
                <canvas id="canvas" width="120" height="120" style="border: 1px solid silver"></canvas>
            </div>
            <br/>
            <div align="left">
                <button data-v-on="click: clear" class="ink-button btn">Clear</button>
                <button data-v-on="click: submit" class="ink-button blue btn">Submit</button>
            </div>
            <br/>
            <div>
                <img data-v-attr="src: showImage()"/>
            </div>
        </div>
        <div class="xlarge-80 large-80 medium-80 small-100 tiny-100">
            <div data-v-repeat="predicts" data-v-component="predict-item" >
            </div>
            <br style="clear:both"/>
        </div>
    </div>
</div>
{% end %}